name: Update Ubiquiti product json

on:
  schedule:
    - cron: '5 */4 * * *' 
  workflow_dispatch:

permissions:
  contents: write
  pages: write
  id-token: write

concurrency:
  group: update-pages
  cancel-in-progress: false

jobs:
  update-product-json:
    runs-on: ubuntu-24.04
    outputs: 
      file_changed: ${{ steps.file_changed.outputs.file_changed }}
    steps:
    - name: Checkout repository
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

    - name: Download and process json file
      run: |
        curl -fsSL -R https://static.ui.com/fingerprint/ui/public.json | jq . > public.json

    - name: Check if file has changed
      id: file_changed
      run: |
        if [[ $(git status --porcelain) ]]; then
          echo "file_changed=true" >> $GITHUB_OUTPUT
        else
          echo "file_changed=false" >> $GITHUB_OUTPUT
        fi

    - name: Upload public.json
      uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
      with:
        name: updated_public_json
        path: public.json

  generate-rss-feed:
    runs-on: ubuntu-24.04
    needs: update-product-json
    if: ${{ needs.update-product-json.outputs.file_changed == 'true' }}
    steps:
    - name: Checkout repository
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

    - name: Download public.json from update job
      uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
      with:
        name: updated_public_json

    - name: Generate RSS feed
      run: |
        python python/generate_feed.py

    - name: Upload feed
      uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
      with:
        name: updated_feed_rss
        path: rss/product_feed.xml

    - name: Commit and push changes
      run: |
        git config --global user.name "github-actions[bot]"
        git config --global user.email "github-actions[bot]@users.noreply.github.com"
        git commit -am "Updated downloaded file"
        git push

  generate-static-content:
    runs-on: ubuntu-24.04
    needs: [update-product-json, generate-rss-feed]
    if: ${{ needs.update-product-json.outputs.file_changed == 'true' }}
    steps:
    - name: Checkout repository
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

    - name: Generate html and download images
      run: |
        python python/generate_html.py
 
    - name: Download feed
      uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
      with:
        name: updated_feed_rss
        path: rss

    - name: Setup Pages
      uses: actions/configure-pages@983d7736d9b0ae728b81ab479565c72886d7745b # v5.0.0

    - name: Upload artifact
      uses: actions/upload-pages-artifact@7b1f4a764d45c48632c6b24a0339c27f5614fb0b # v4.0.0
      with:
        # Upload entire repository
        path: '.'

    - name: Deploy to GitHub Pages
      id: deployment
      uses: actions/deploy-pages@d6db90164ac5ed86f2b6aed7e0febac5b3c0c03e # v4.0.5
